@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  position: relative; /* Add relative positioning to the body */
  background: #0c0c0c; /* Set the background color to white */
}
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Place the video behind other content */
}

.background-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire container */
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make sure the content div fills the viewport */
  position: relative; /* Create a stacking context */
  z-index: 1; /* Ensure your content is in front of the video */
  /* Add your existing styles for the content div here */
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  background: #f5f5f5; /* Set the background color to purple (#6B5B95) */
}

.left {
  transform: translateX(0);
}

.right {
  right: 0;
  transform: translateX(100%);
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #4b0247; /* Set the background color to white */
}
/* Your existing styles for .signin and .signup */
.signin,
.signup {
  /* Add your existing styles for .signin and .signup here */
  /* For example: */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}
